<div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <%= image_tag "caca.jpg", class: "img-responsive img-rounded" %>
            </div>
            
            <div class="col-md-4">
                <h2 align='centter'>Bienvenido a Control Call</h2>


                    <%= guardarLlamadas %>

                    <%= cargarPaises %>

                    <%= cargarProveedores %>
                    <%= cargarFichasNacionales %>



                    <% if user_signed_in? %>
                        <h3>Gracias por pertenecer a Control Call <%=current_user.email%></h3>
                
                     <%else%>

                    <div class="col-md-6 col-md-offset-3">


                        <%= button_to "Registrarse", new_user_registration_path, :class => "btn btn-success btn-block", :method => :get%></br>                        
                        
                        <%= button_to "Ingresar", new_user_session_path, :class => "btn btn-success btn-block", :method => :get%>
                    
                    </div> 

                    <%end%>
                
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Servicios que ofrece Control Call
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>Registro de Llamadas</h2>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Sumarios</h2>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Reportes</h2>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

</div>