<%= form_for(@localidad) do |f| %>
  <% if @localidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@localidad.errors.count, "error") %> prohibited this localidad from being saved:</h2>

      <ul>
      <% @localidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :interurbano %><br>
    <%= f.number_field :interurbano %>
  </div>
  <div class="field">
    <%= f.label :clave_nqn %><br>
    <%= f.number_field :clave_nqn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
