<p id="notice"><%= notice %></p>

<h1>Listing Fichans</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Valor sec n</th>
      <th>Valor sec r</th>
      <th>Valor min n</th>
      <th>Valor min r</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fichans.each do |fichan| %>
      <tr>
        <td><%= fichan.code %></td>
        <td><%= fichan.valor_sec_n %></td>
        <td><%= fichan.valor_sec_r %></td>
        <td><%= fichan.valor_min_n %></td>
        <td><%= fichan.valor_min_r %></td>
        <td><%= fichan.description %></td>
        <td><%= link_to 'Show', fichan %></td>
        <td><%= link_to 'Edit', edit_fichan_path(fichan) %></td>
        <td><%= link_to 'Destroy', fichan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fichan', new_fichan_path %>
