<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @country.code %>
</p>

<p>
  <strong>Coef n1:</strong>
  <%= @country.coef_n1 %>
</p>

<p>
  <strong>Coef n2:</strong>
  <%= @country.coef_n2 %>
</p>

<p>
  <strong>Coef r1:</strong>
  <%= @country.coef_r1 %>
</p>

<p>
  <strong>Coef r2:</strong>
  <%= @country.coef_r2 %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
