<%= form_for(@constant) do |f| %>
  <% if @constant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@constant.errors.count, "error") %> prohibited this constant from being saved:</h2>

      <ul>
      <% @constant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :franco_oro %><br>
    <%= f.text_field :franco_oro %>
  </div>
  <div class="field">
    <%= f.label :proveedor_id %><br>
    <%= f.number_field :proveedor_id %>
  </div>
  <div class="field">
    <%= f.label :ficha_local %><br>
    <%= f.text_field :ficha_local %>
  </div>
  <div class="field">
    <%= f.label :unidad_aire %><br>
    <%= f.text_field :unidad_aire %>
  </div>
  <div class="field">
    <%= f.label :bloque_30 %><br>
    <%= f.text_field :bloque_30 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
