<p id="notice"><%= notice %></p>

<h1>Listing Constants</h1>

<table>
  <thead>
    <tr>
      <th>Franco oro</th>
      <th>Proveedor</th>
      <th>Ficha local</th>
      <th>Unidad aire</th>
      <th>Bloque 30</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @constants.each do |constant| %>
      <tr>
        <td><%= constant.franco_oro %></td>
        <td><%= constant.proveedor_id %></td>
        <td><%= constant.ficha_local %></td>
        <td><%= constant.unidad_aire %></td>
        <td><%= constant.bloque_30 %></td>
        <td><%= link_to 'Show', constant %></td>
        <td><%= link_to 'Edit', edit_constant_path(constant) %></td>
        <td><%= link_to 'Destroy', constant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Constant', new_constant_path %>
