<p id="notice"><%= notice %></p>

<p>
  <strong>Franco oro:</strong>
  <%= @constant.franco_oro %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @constant.proveedor_id %>
</p>

<p>
  <strong>Ficha local:</strong>
  <%= @constant.ficha_local %>
</p>

<p>
  <strong>Unidad aire:</strong>
  <%= @constant.unidad_aire %>
</p>

<p>
  <strong>Bloque 30:</strong>
  <%= @constant.bloque_30 %>
</p>

<%= link_to 'Edit', edit_constant_path(@constant) %> |
<%= link_to 'Back', constants_path %>
